{{ header }}
{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            {{ smm_menu }}
        </div>
    </div>

    <div class="smmposting-container">
        {% if (error_warning) %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if (success) %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-posts">
                        <ul class="nav nav-tabs">
                            {% if (allowed_socials is defined) %}
                                {% for soc in allowed_socials %}
                                    {% if (soc.social is defined) %}
                                        {% if (soc.social == "ok") %}<li><a href="#tab-odnoklassniki" data-toggle="tab"><i class="fa fa-odnoklassniki"></i>{{ text_ok }}</a></li>{% endif %}
                                        {% if (soc.social == "vk") %}<li><a href="#tab-vkontakte" data-toggle="tab"><i class="fa fa-vk"></i> {{ text_vk }}</a></li>{% endif %}
                                        {% if (soc.social == "tg") %}<li><a href="#tab-telegram" data-toggle="tab"><i class="fa fa-send"></i> {{ text_tg }}</a></li>{% endif %}
                                        {% if (soc.social == "ig") %}<li><a href="#tab-instagram" data-toggle="tab"><i class="fa fa-instagram"></i> {{ text_ig }}</a></li>{% endif %}
                                        {% if (soc.social == "fb") %}<li><a href="#tab-facebook" data-toggle="tab"><i class="fa fa-facebook"></i> {{ text_fb }}</a></li>{% endif %}
                                        {% if (soc.social == "tb") %}<li><a href="#tab-tumblr" data-toggle="tab"><i class="fa fa-tumblr"></i> {{ text_tb }}</a></li>{% endif %}
                                        {% if (soc.social == "tw") %}<li><a href="#tab-twitter" data-toggle="tab"><i class="fa fa-twitter"></i> {{ text_tw }}</a></li>{% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>

                        <div class="tab-content connect-social">
                            <div class="tab-pane" id="tab-odnoklassniki">
                                <div class="alert alert-info">
                                    {{ text_info_group }}
                                </div>
                                <form action="{{ auth_links['ok_auth_link'] }}" method="post" id="auth_ok">

                                    <input type="hidden" name="api_token" value="{{ api_token }}">
                                    <input type="hidden" name="s" value="odnoklassniki">
                                    <input type="hidden" name="server_link" value="{{ server_link }}&s=ok">

                                    <div class="panel-footer">
                                        <button class="btn btn-warning" type="submit"><i class="fa fa-odnoklassniki"></i> {{ button_add_odnoklassniki }}</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab-vkontakte">
                                <div class="alert alert-info">
                                    {{ text_info_group }}
                                </div>
                                <form action="{{ auth_links['vk_auth_link'] }}" method="post" id="auth_ok">
                                    <input type="hidden" name="server_link" value="{{ server_link }}&s=vk">
                                    <input type="hidden" name="api_token" value="{{ api_token }}">
                                    <input type="hidden" name="s" value="vkontakte">

                                    <div class="panel-footer">
                                        <button class="btn btn-vk" type="submit"><i class="fa fa-vk"></i> {{ button_add_vkontakte }}</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab-telegram">
                                <div class="alert alert-info">
                                    {{ text_info_telegram }}
                                </div>

                                <form action="{{ auth_links['tg_auth_link'] }}" method="post" enctype="multipart/form-data" id="addTelegram">
                                    <div>
                                        <label>{{ text_token }}</label>
                                        <input type="hidden" name="api_token" value="{{ api_token }}">
                                        <input type="hidden" name="s" value="telegram">
                                        <input type="hidden" name="server_link" value="{{ server_link }}&s=tg">
                                        <input name="telegram_token" class="form-control"  placeholder="640585380:AAFcqbSSJq0Rs-HsCj4sClmUsPqOFeOZFwE" value=""><br>
                                    </div>

                                    <div class="panel-footer">
                                        <a onclick="$('#addTelegram').submit();" class="btn btn-info waves-effect waves-light"> <span class="btn-label"><i class="fa fa-send"></i></span> {{ button_add_telegram }}</a>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane" id="tab-instagram">

                                <form action="{{ auth_links['ig_auth_link'] }}" method="post" enctype="multipart/form-data" id="addInstagram">
                                    <input type="hidden" name="server_link" value="{{ server_link }}&s=ig">
                                    <div>
                                        <label>{{ text_login }}</label>
                                        <input class="form-control instagram_login"  name="instagram_login" value=""><br>
                                    </div>

                                    <div>
                                        <label>{{ text_password }}</label>
                                        <input type="hidden" name="api_token" value="{{ api_token }}">
                                        <input readonly onfocus="this.removeAttribute('readonly')" type="password" class="form-control instagram_password"  name="instagram_password"><br>
                                    </div>

                                    <div class="panel-footer">
                                        <a onclick="IGLogin()" class="btn btn-instagram waves-effect waves-light"> <span class="btn-label"><i class="fa fa-instagram"></i></span> {{ button_add_instagram }}</a>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane" id="tab-facebook">
                                <div class="alert alert-info">
                                    {{ text_info_group }}
                                </div>
                                <form action="{{ auth_links['fb_auth_link'] }}" method="post" id="auth_ok">

                                    <input type="hidden" name="api_token" value="{{ api_token }}">
                                    <input type="hidden" name="s" value="facebook">
                                    <input type="hidden" name="server_link" value="{{ server_link }}&s=fb">
                                    <div class="panel-footer">
                                        <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> {{ button_add_facebook }}</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab-tumblr">
                                <div class="alert alert-info">
                                    {{ text_info_group }}
                                </div>
                                <form action="{{ auth_links['tb_auth_link'] }}" method="post" id="auth_ok">
                                    <input type="hidden" name="api_token" value="{{ api_token }}">
                                    <input type="hidden" name="s" value="tumblr">
                                    <input type="hidden" name="server_link" value="{{ server_link }}&s=tb">
                                    <div class="panel-footer">
                                        <button class="btn btn-tumblr" type="submit"><i class="fa fa-tumblr"></i> {{ button_add_tumblr }}</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab-twitter">
                                <div class="alert alert-info">
                                    {{ text_info_group }}
                                </div>
                                <form action="{{ auth_links['tw_auth_link'] }}" method="post" id="auth_ok">
                                    <input type="hidden" name="api_token" value="{{ api_token }}">
                                    <input type="hidden" name="s" value="twitter">
                                    <input type="hidden" name="server_link" value="{{ server_link }}&s=tw">
                                    <div class="panel-footer">
                                        <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> {{ button_add_twitter }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="js-title"><i class="fa fa-users"></i>{{ text_accounts }} ({{ count }})</h3>
            </div>
            <div class="tab-content">
                <table class="table table-striped mb-0">
                    <tbody>
                    {% if (accounts is defined) %}
                        {% for account in accounts %}
                            <tr>
                                <td class="js-check-account acc-td" data-account_id="{{ account['id'] }}">
                                    {% if (account['social'] == 'ok') %}
                                        <span class="social btn btn-warning"><i class="fa fa-odnoklassniki"></i></span>
                                    {% elseif (account['social'] == 'vk') %}
                                        <span class="social btn btn-vk"><i class="fa fa-vk"></i></span>
                                    {% elseif (account['social'] == 'tg') %}
                                        <span class="social btn btn-info"><i class="fa fa-send"></i></span>
                                    {% elseif (account['social'] == 'ig') %}
                                        <span class="social btn btn-instagram"><i class="fa fa-instagram"></i></span>
                                    {% elseif (account['social'] == 'fb') %}
                                        <span class="social btn btn-facebook"><i class="fa fa-facebook"></i></span>
                                    {% elseif (account['social'] == 'tb') %}
                                        <span class="social btn btn-tumblr"><i class="fa fa-tumblr"></i></span>
                                    {% elseif (account['social'] == 'tw') %}
                                        <span class="social btn btn-twitter"><i class="fa fa-twitter"></i></span>
                                    {% endif %}
                                    <span class="js-name">{{ account['account_name'] }}</span><br>
                                    <span class="js-loader text-muted"></span>
                                </td>
                                <td>
                                    <a class="btn btn-danger js-delete" data-account_id="{{ account['id'] }}" data-name="{{ account['account_name'] }}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="text-center pt-4 mb-4">{{ text_no_accounts }}</div>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.nav-tabs li:first').addClass('active');
            $('.connect-social > .tab-pane:first').addClass('active');
        });
    </script>

    <!-- Page JS Code -->
    <script type="text/javascript">
        $(document).on('click', '.js-delete', function (e) {
            var name = $(this).data('name');

            Swal.fire({
                title: "{{ text_delete_question }}",
                text: "{{ text_delete_account_confirm }}" + name,
                type: "error",
                confirmButtonClass: "btn-danger",
                confirmButtonText: "{{ text_confirm_delete }}",
                cancelButtonText: "{{ text_cancel }}",
                showCancelButton: true,

            }).then(result => {
                if (result.value) {
                    var account_block = $(this).parent().parent();
                    var account_id = $(this).attr('data-account_id');

                    $.ajax({
                        url: 'index.php?route=marketing/smmposting/deleteAccount&token={{ token }}',
                        type: 'post',
                        data: { account_id },
                        dataType: 'json',
                        success: function(json) {
                            if (json['success']) {
                                account_block.addClass("hidden");
                                Swal.fire({
                                    title: name,
                                    text:  "{{ text_account }}" + " " + "{{ text_deleted }}",
                                    type: "success",
                                });
                            } else if (json['error']) {
                                Swal.fire({
                                    title: name,
                                    text:  json['error'],
                                    type: "error",
                                });
                            }
                        }
                    });
                }
            })
        });
    </script>
{{ footer }}