{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            {{ smm_menu }}
        </div>
    </div>

    <div class="smmposting-container">

        {% if (error_warning) %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        {% if (success) %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="row mb-4">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="submit" form="form-smmposting" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                    <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ heading_description_post }}</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" class="dropzone" id="dropzone" action="./index.php?route=marketing/smmposting/uploadImage&{{ token_to_link }}">

                    {% if (post.media is defined and post.media|length >0) %}
                        {% for key,item in post['media'] %}
                            <div class="dz-preview dz-processing dz-image-preview dz-complete">
                                <div class="dz-image">
                                    <img style="height: 120px;width: 120px;object-fit: cover;" data-dz-thumbnail="{{ item }}" src="{{ item }}">
                                </div>
                                <div class="dz-details">
                                    <div class="dz-filename"> <span data-dz-name="">{{ item }}</span></div>
                                </div>
                                <a data-delete_file_id="image_id_key{{ key }}" class="dz-remove del_button" data-filename="{{ item }}">{{ text_delete }}</a>
                            </div>
                        {% endfor %}
                        <div class="dz-default dz-message hidden"><i class="fa fa-upload"></i> {{ text_move_image }}</div>
                    {% endif %}
                </form>
                <hr>
                <form id="form-smmposting" action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-post">
                            <div class="hiddens">
                                {% if (post.media is defined and  post.media|length >0) %}
                                    {% for key,item in post.media %}
                                        <input type="hidden" class="form-control image_id_key{{ key }}" name="media[]" value="{{ item }}" />
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">{{ text_description }}</label>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <textarea id="smmposting_content" class="form-control"  name="content" rows="10" cols="10">{% if (post['content'] is defined) %} {{ post['content'] }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{ text_select_project }}</label>
                                        <select class="form-control" name="project_id" id="project_id">
                                            <option value="*">{{ text_select_project }}</option>
                                            {% for project in projects %}
                                                <option value="{{ project['id'] }}" {% if (post['project_id'] is defined and project['id'] == post['project_id']) %}selected{% endif %}>
                                                    {{ project['name'] }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <span class="product-arrow-up" {% if (post['project_id'] is defined) %}style="display: none" {% endif %}><i></i>
                                        <em class="js-qnt">{{ text_dont_forget_select_a_project }}</em></span>
                                    </div>

                                    <div class="form-group row fg-soc fg-ok" {% if (("ok" not in allowed_socials) or "ok" not in post.socials) %} style="display: none" {% endif %}>
                                        <div class="col-sm-12">
                                            <div class="mb-2 custom-checkbox custom-control input-group">
                                                <input type="checkbox" {{ (post.socials is defined and "ok" in post.socials ? "checked" : "") }} value="ok"  id="ok" name="socials[]" class="custom-control-input checkbox-social">
                                                <label class="custom-control-label" for="ok"> {{ text_ok }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row fg-soc fg-vk" {% if (("vk" not in allowed_socials) or "vk" not in post.socials) %} style="display: none" {% endif %}>
                                        <div class="col-sm-12">
                                            <div class="mb-2 custom-checkbox custom-control input-group">
                                                <input type="checkbox" {{ (post.socials is defined and "vk" in post.socials ? "checked" : "") }} value="vk"  id="vk" name="socials[]" class="custom-control-input checkbox-social">
                                                <label class="custom-control-label" for="vkontakte"> {{ text_vk }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row fg-soc fg-tg" {% if (("tg" not in allowed_socials) or "tg" not in post.socials) %} style="display: none" {% endif %}>
                                        <div class="col-sm-12">
                                            <div class="mb-2 custom-checkbox custom-control input-group">
                                                <input type="checkbox" {{ (post.socials is defined and "tg" in post.socials ? "checked" : "") }} value="tg" id="tg" name="socials[]" class="custom-control-input checkbox-social">
                                                <label class="custom-control-label" for="telegram"> {{ text_tg }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row fg-soc fg-ig" {% if (("ig" not in allowed_socials) or "ig" not in post.socials) %} style="display: none"  {% endif %}>
                                        <div class="col-sm-12">
                                            <div class="mb-2 custom-checkbox custom-control input-group">
                                                <input type="checkbox" {{ (post.socials is defined and "ig" in post.socials ? "checked" : "") }} value="ig" id="ig" name="socials[]" class="custom-control-input checkbox-social">
                                                <label class="custom-control-label" for="telegram"> {{ text_ig }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row fg-soc fg-fb" {% if (("fb" not in allowed_socials) or "fb" not in post.socials) %} style="display: none" {% endif %}>
                                        <div class="col-sm-12">
                                            <div class="mb-2 custom-checkbox custom-control input-group">
                                                <input type="checkbox" {{ (post.socials is defined and "fb" in post.socials ? "checked" : "") }} value="fb" id="fb" name="socials[]" class="custom-control-input checkbox-social">
                                                <label class="custom-control-label" for="facebook"> {{ text_fb }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row fg-soc fg-tb" {% if (("tb" not in allowed_socials) or "tb" not in post.socials) %} style="display: none"  {% endif %}>
                                        <div class="col-sm-12">
                                            <div class="mb-2 custom-checkbox custom-control input-group">
                                                <input type="checkbox" {{ (post.socials is defined and "tb" in post.socials ? "checked" : "") }} value="tb" id="tb" name="socials[]" class="custom-control-input checkbox-social">
                                                <label class="custom-control-label" for="tumblr"> {{ text_tb }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row fg-soc fg-tw" {% if (("tw" not in allowed_socials) or "tw" not in post.socials) %} style="display: none" {% endif %}>
                                        <div class="col-sm-12">
                                            <div class="mb-2 custom-checkbox custom-control input-group">
                                                <input type="checkbox" {{ (post.socials is defined and "tw" in post.socials ? "checked" : "") }} value="tw" id="tw" name="socials[]" class="custom-control-input checkbox-social">
                                                <label class="custom-control-label" for="twitter"> {{ text_tw }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <label class="control-label">{{ text_status }}</label>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <select class="form-control js-select" name="status">
                                                <option value="0" {% if (post['status'] is defined and post['status'] == 0) %}selected="selected"{% endif %}>{{ text_status_0 }}</option>
                                                <option value="1" {% if (post['status'] is defined and post['status'] == 1) %}selected="selected"{% endif %}>{{ text_status_1 }}</option>
                                                <option value="2" {% if (post['status'] is defined and post['status'] == 2) %}selected="selected"{% endif %}>{{ text_status_2 }}</option>
                                                <option value="3" {% if (post['status'] is defined and post['status'] == 3) %}selected="selected"{% endif %}>{{ text_status_3 }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">{{ text_date_publications }}</label>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input id="date_public" type="date" class="form-control" name="date_public" value=" {% if (post['date_public'] is not defined) %} {{ date("Y-m-d") }} {% else %} {{ post['date_public'] }}{% endif %}">
                                            <span class="dated" id="date_today">{{ text_today }}</span> | <span id="date_tomorrow" class="dated">{{ text_tomorrow }}</span> | <span id="date_after_tomorrow" class="dated">{{ text_after_tomorrow }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">{{ text_time_publications }}</label>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <select id="time_public" name="time_public" class="form-control">
                                                <option value="7"  {% if (post['time_public'] is defined and post['time_public'] == 7) %} selected {% endif %}>07:00</option>
                                                <option value="8"  {% if (post['time_public'] is defined and post['time_public'] == 8) %} selected {% endif %}>08:00</option>
                                                <option value="9"  {% if (post['time_public'] is defined and post['time_public'] == 9) %} selected {% endif %}>09:00</option>
                                                <option value="10" {% if (post['time_public'] is defined and post['time_public'] == 10) %} selected {% endif %}>10:00</option>
                                                <option value="11" {% if (post['time_public'] is defined and post['time_public'] == 11) %} selected {% endif %}>11:00</option>
                                                <option value="12" {% if (post['time_public'] is defined and post['time_public'] == 12) %} selected {% endif %}>12:00</option>
                                                <option value="13" {% if (post['time_public'] is defined and post['time_public'] == 13) %} selected {% endif %}>13:00</option>
                                                <option value="14" {% if (post['time_public'] is defined and post['time_public'] == 14) %} selected {% endif %}>14:00</option>
                                                <option value="15" {% if (post['time_public'] is defined and post['time_public'] == 15) %} selected {% endif %}>15:00</option>
                                                <option value="16" {% if (post['time_public'] is defined and post['time_public'] == 16) %} selected {% endif %}>16:00</option>
                                                <option value="17" {% if (post['time_public'] is defined and post['time_public'] == 17) %} selected {% endif %}>17:00</option>
                                                <option value="18" {% if (post['time_public'] is defined and post['time_public'] == 18) %} selected {% endif %}>18:00</option>
                                                <option value="19" {% if (post['time_public'] is defined and post['time_public'] == 19) %} selected {% endif %}>19:00</option>
                                                <option value="20" {% if (post['time_public'] is defined and post['time_public'] == 20) %} selected {% endif %}>20:00</option>
                                                <option value="21" {% if (post['time_public'] is defined and post['time_public'] == 21) %} selected {% endif %}>21:00</option>
                                                <option value="22" {% if (post['time_public'] is defined and post['time_public'] == 22) %} selected {% endif %}>22:00</option>
                                                <option value="23" {% if (post['time_public'] is defined and post['time_public'] == 23) %} selected {% endif %}>23:00</option>
                                                <option value="0"  {% if (post['time_public'] is defined and post['time_public'] == 0) %} selected {% endif %}>00:00</option>
                                                <option value="1"  {% if (post['time_public'] is defined and post['time_public'] == 1) %} selected {% endif %}>01:00</option>
                                                <option value="2"  {% if (post['time_public'] is defined and post['time_public'] == 2) %} selected {% endif %}>02:00</option>
                                                <option value="3"  {% if (post['time_public'] is defined and post['time_public'] == 3) %} selected {% endif %}>03:00</option>
                                                <option value="4"  {% if (post['time_public'] is defined and post['time_public'] == 4) %} selected {% endif %}>04:00</option>
                                                <option value="5"  {% if (post['time_public'] is defined and post['time_public'] == 5) %} selected {% endif %}>05:00</option>
                                                <option value="6"  {% if (post['time_public'] is defined and post['time_public'] == 6) %} selected {% endif %}>06:00</option>
                                            </select>
                                            <span class="dated" id="time_1">{{ text_time_1 }}</span> | <span id="time_2" class="dated">{{ text_time_2 }}</span> | <span id="time_3" class="dated">{{ text_time_3 }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    const today = "{{ date_today }}";
    const tomorrow = "{{ date_tomorrow }}";
    const after_tommorrow = '{{ date_after_tommorrow }}';
    const time_1 = '9';
    const time_2 = '14';
    const time_3 = '18';

    $("#date_today").click(function () {
        document.getElementById('date_public').value = today;
    });

    $("#date_tomorrow").click(function () {
        document.getElementById('date_public').value = tomorrow;
    });

    $("#date_after_tomorrow").click(function () {
        document.getElementById('date_public').value = after_tommorrow;
    });

    $("#time_1").click(function () {
        $('#time_public').val(time_1).change();
    });

    $("#time_2").click(function () {
        $('#time_public').val(time_2).change();
    });

    $("#time_3").click(function () {
        $('#time_public').val(time_3).change();
    });

</script>

<script type="text/javascript" src="view/javascript/ckeditor_smm/ckeditor.js"></script>
<script type="text/javascript"><!--
    CKEDITOR.addCss('.cke_editable p { margin: 0 !important; }');
    CKEDITOR.replace('smmposting_content', {
        toolbar : 'Full',
    });
    //--></script>


<script type="text/javascript">
    Dropzone.options.dropzone =
        {
            dictDefaultMessage: '<i class="fa fa-upload"></i> {{ text_move_image }}',
            dictFallbackMessage: "{{ text_dictFallbackMessage }}",
            dictFallbackText: "{{ text_dictFallbackText }}",
            dictInvalidFileType: "{{ text_dictInvalidFileType }}",
            dictCancelUpload: "{{ text_dictCancelUpload }}",
            dictCancelUploadConfirmation: "{{ text_dictCancelUploadConfirmation }}",
            dictRemoveFile: "{{ text_dictRemoveFile }}",
            dictRemoveFileConfirmation: null,
            dictMaxFilesExceeded: "{{ text_dictMaxFilesExceeded }}",

            maxFiles: 10,
            maxFilesize: 6,
            renameFile: function(file) {
                var dt = new Date();
                var time = dt.getTime();
                return time+file.name;
            },
            acceptedFiles: ".jpeg,.jpg,.png,.gif",
            addRemoveLinks: true,
            timeout: 50000,
            removedfile: function(file)
            {
                var name = file.upload.filename;

                $.ajax({
                    type: 'POST',
                    url: './index.php?route=marketing/smmposting/deleteImage&{{ token_to_link }}',
                    data: {filename: name},
                });

                $('#'+file.upload.uuid).remove();

                var fileRef;
                return (fileRef = file.previewElement) != null ?
                    fileRef.parentNode.removeChild(file.previewElement) : void 0;
            },

            success: function(file, response)
            {
                if (response['preview_image']) {
                    $('.hiddens').append('<input type="hidden" id="'+file.upload.uuid+'" name="media[]" value="'+response['preview_image']+'">');
                }
            },
            error: function(file, response)
            {
                return false;
            }
        };
</script>

<script type="text/javascript">
    $(document).ready(function () {
        function checkProject() {
            $('.checkbox-social').prop('checked', false);
            $('.fg-soc').hide();

            if ($("select[name=\'project_id\'] :selected").val() != '*') {
                let project_id = $("select[name=\'project_id\'] :selected").val();
                $.ajax({
                    url: 'https://smm-posting.ru/api/v2/smmposting/get_project/'+project_id+'?api_token='+ "{{ api_token }}",
                    type: 'get',
                    dataType: 'json',
                    success: function(json) {
                        if (json['result']['allowed'] !== undefined && Array.isArray(json['result']['allowed'])) {
                            $('.product-arrow-up').fadeOut();

                            let allowed_count = 0
                            let allowed = json['result']['allowed'];

                            if (allowed.includes("ok")) {
                                $('.fg-ok').show();
                                allowed_count++;
                                $("input[name=\'odnoklassniki\']").prop('checked', true);
                            }
                            if (allowed.includes("vk")) {
                                $('.fg-vk').show();
                                allowed_count++;
                                $("input[name=\'vkontakte\']").prop('checked', true);
                            }
                            if (allowed.includes("tg")) {
                                allowed_count++;
                                $('.fg-tg').show();
                                $("input[name=\'socials[tg]\']").prop('checked', true);
                            }
                            if (allowed.includes("ig")) {
                                allowed_count++;
                                $('.fg-ig').show();
                                $("input[name=\'socials[ig]\']").prop('checked', true);
                            }
                            if (allowed.includes("fb")) {
                                allowed_count++;
                                $('.fg-fb').show();
                                $("input[name=\'socials[fb]\']").prop('checked', true);
                            }
                            if (allowed.includes("tb")) {
                                allowed_count++;
                                $('.fg-tb').show();
                                $("input[name=\'socials[tb]\']").prop('checked', true);
                            }
                            if (allowed.includes("tw")) {
                                allowed_count++;
                                $('.fg-tw').show();
                                $("input[name=\'socials[tw]\']").prop('checked', true);
                            }

                            if (allowed_count===0) {
                                Swal.fire({
                                    title: "{{ text_attention }}",
                                    text:  "{{ text_no_accounts_in_project }}",
                                    type: "warning",
                                });

                                $('.product-arrow-up').fadeIn();
                                $('select[name=\'project_id\'] option[value="*"]').prop('selected', true)
                            }
                        }
                    }
                });
            } else {

            }

        }
        $('#project_id').on('change', function (e) {
            checkProject();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        if ($('.dz-image-preview').length > 0) {
            $('#dropzone').addClass('dz-started');
        }
        $('.del_button').click(function(){
            var delete_file_id = $(this).attr('data-delete_file_id');
            $('.'+delete_file_id).remove();
            $(this).parent().remove();
            if ($('.dz-image-preview').length == 0) {
                $('#dropzone').removeClass('dz-started');
            }
        });
    });
</script>
{{ footer }}