{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            {{ smm_menu }}
        </div>
    </div>



    <div class="smmposting-container">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="row">
            <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="input-name">{{ entry_name }}</label>
                            <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-model">{{ entry_model }}</label>
                            <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-price">{{ entry_price }}</label>
                            <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
                            <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-status">{{ entry_status }}</label>
                            <select name="filter_status" id="input-status" class="form-control">
                                <option value=""></option>
                                {% if filter_status == '1' %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                {% endif %}
                                {% if filter_status == '0' %}
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="0">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group text-right">
                            <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="send_products">
                            <div class="row">
                                <div class="col-sm-12"> <div class="pull-right">

                                <span class="product-arrow hidden-xs"><i></i> <em class="js-qnt">{{ text_select_products_and_method }}</em></span>

                                <div class="btn-group">
                                    <select id="project" name="project" class="form-control">
                                        {% if projects is not empty %}
                                            {% for project in projects %}
                                                <option value="{{ project.project_id }}">{{ project.project_name }}</option>
                                            {% endfor %}
                                        {% else %}
                                            <option value="*">NO PROJECTS</option>
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="btn-group">
                                    <select id="method" name="method" class="form-control">
                                        <option value="wall">{{ text_on_wall }}</option>
                                        <!--<option value="product">{{ text_in_products }}</option>-->
                                    </select>

                                </div>

                                <div class="btn-group">
                                    <select id="social" name="social" class="form-control">
                                        <option value="odnoklassniki"><?php echo $text_ok; ?></option>
                                        <option value="vkontakte"><?php echo $text_vk; ?></option>
                                        <option value="telegram"><?php echo $text_tg; ?></option>
                                        <option value="instagram"><?php echo $text_ig; ?></option>
                                        <option value="facebook"><?php echo $text_fb; ?></option>
                                        <option value="tumblr"><?php echo $text_tb; ?></option>
                                        <option value="twitter"><?php echo $text_tw; ?></option>
                                    </select>
                                </div>


                                <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" class="js-button-send btn btn-info">
                                        <i class="fa fa-send"></i> {{ text_send }}
                                    </button>
                                </div>


                                <br> <br>
                                    </div></div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                        <td class="text-center">{{ column_image }}</td>
                                        <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                                        <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}</td>
                                        <td class="text-right">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}</td>
                                        <td class="text-right">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantity }}</a> {% endif %}</td>
                                        <td class="text-left">{% if sort == 'p.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                                        <td class="text-right">{{ column_action }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if products %}
                                        {% for product in products %}
                                            <tr>
                                                <td class="text-center">{% if product.product_id in selected %}
                                                        <input type="checkbox"  class="js-products" name="products[]" value="{{ product.product_id }}" checked="checked" />
                                                    {% else %}
                                                        <input type="checkbox"  class="js-products" name="products[]" value="{{ product.product_id }}" />
                                                    {% endif %}</td>
                                                <td class="text-center">{% if product.image %} <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                                                <td class="text-left">{{ product.name }}</td>
                                                <td class="text-left">{{ product.model }}</td>
                                                <td class="text-right">{% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                                                        <div class="text-danger">{{ product.special }}</div>
                                                    {% else %}
                                                        {{ product.price }}
                                                    {% endif %}</td>
                                                <td class="text-right">{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>
                                                <td class="text-left">{{ product.status }}</td>
                                                <td class="text-right"><a href="{{ product.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="8">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>

                                </table>
                            </div></div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    let on = $(document).on('change', '#project, #method', function () {

        var project_id = $("#project option:selected").val();
        var method = $("#method option:selected").val();

        $('.js-button-send').prop("disabled", false);

        $.ajax({
            url: './index.php?route=marketing/smmposting/getProject&token={{ token }}',
            type: 'post',
            data: 'project_id=' + project_id + '&method=' + method,
            dataType: 'json',
            success: function (json) {
                if (json['error']) {
                    $('.js-button-send').prop("disabled", true);
                }
                if (json['socials']) {
                    $('#social option').remove();
                    $.each(json['socials'], function (key, value) {
                        $('#social').append('<option value="' + key + '">' + value + '</option>');
                    });
                }
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).on('change', '.js-products', function () {
        var qnt = $('.js-products:checked').length;
        $('.js-qnt').html('{{ text_selected_products }}' + qnt);
    });
</script>
<script type="text/javascript">
    $(document).on('click', '.js-button-send', function (e) {

        if($(".js-products").serialize() == "") {
            Swal.fire(
                'Выберите товар!',
                'Выберите необходимый товар для публикации',
                'error'
            )
            return;
        }

        var project_name = $("#project option:selected").text();
        var social = $("#social option:selected").val();
        //var project_id = $("#project option:selected").val();
        var products = $('input[id=\'products\']').val();

        Swal.fire({
            title: "Отправить товар?!",
            text: "Подтвердите отправку товара в  " + social + " в проект " + project_name,
            type: "info",
            confirmButtonClass: "btn-danger",
            confirmButtonText: "{{ text_confirm_button }}",
            cancelButtonText: "{{ text_cancel_button }}",
            showCancelButton: true,

        }).then(result => {
            if (result.value) {
                var f = $(this).parent().parent();
                $.ajax({
                    url: '{{ send_link }}',
                    type: 'get',
                    data: $('#send_products').serialize(),
                    dataType: 'json',
                    success: function (json) {
                        // for (var i = 0; i < products.length; i++) {
                        //
                        // }

                        if (json['error']) {
                            Swal.fire(
                                'Ошибка экспорта!',
                                'Не удалось опубликовать в ' + social,
                                'error'
                            )
                        }

                        if (json['result']) {
                            //Уведомляем клиента
                            Swal.fire(
                                'Успешно опубликовано',
                                'Товары успешно опубликованы в ' + social,
                                'success'
                            )
                        }


                    }
                });
            }
        })
    });
</script>
<script type="text/javascript"><!--
    $('#button-filter').on('click', function() {
        var url = 'index.php?route=marketing/smmposting/products&token={{ token }}';

        var filter_name = $('input[name=\'filter_name\']').val();

        if (filter_name) {
            url += '&filter_name=' + encodeURIComponent(filter_name);
        }

        var filter_model = $('input[name=\'filter_model\']').val();

        if (filter_model) {
            url += '&filter_model=' + encodeURIComponent(filter_model);
        }

        var filter_price = $('input[name=\'filter_price\']').val();

        if (filter_price) {
            url += '&filter_price=' + encodeURIComponent(filter_price);
        }

        var filter_quantity = $('input[name=\'filter_quantity\']').val();

        if (filter_quantity) {
            url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
        }

        var filter_status = $('select[name=\'filter_status\']').val();

        if (filter_status != '*') {
            url += '&filter_status=' + encodeURIComponent(filter_status);
        }

        var filter_image = $('select[name=\'filter_image\']').val();

        if (filter_image != '*') {
            url += '&filter_image=' + encodeURIComponent(filter_image);
        }

        location = url;
    });
    //--></script>
<script type="text/javascript"><!--
    $('input[name=\'filter_name\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/product/autocomplete&token={{ token }}&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['product_id']
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('input[name=\'filter_name\']').val(item['label']);
        }
    });

    $('input[name=\'filter_model\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/product/autocomplete&token={{ token }}&filter_model=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['model'],
                            value: item['product_id']
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('input[name=\'filter_model\']').val(item['label']);
        }
    });
    //--></script>
{{ footer }}