{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			{{ smm_menu }}
		</div>
	</div>
	<div class="smmposting-container">
		{% if (error_warning) %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		{% if (success) %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="row mb-4">
			<div class="col-sm-12">
				<div class="pull-right">
					<a onclick="$('#form').submit();" class="btn btn-primary btn-md waves-effect waves-light m-b-30"><i class="fa fa-save"></i></a>
					<a href="{{ project_list }}" data-toggle="tooltip" class="btn btn-default"><i class="fa fa-reply"></i></a>
				</div>
			</div>
		</div>
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
			<div class="card panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-briefcase"></i> {{ text_project }}</h3>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="panel-body">
							<div class="well" style="overflow: auto;">
								<div class="col-lg-12">
									<div class="card-box">
										<label>{{ text_project_name }}</label>
										<input placeholder="{{ text_project_placeholder }}" class="form-control" type="text" name="name" value=" {{ project['name'] is defined ? project['name'] : '' }}" size="40" />
									</div>
								</div>
							</div>

							<div>
								<ul class="nav nav-tabs">
									<li class="active"><a class="btn btn-white selected" href="#tab-odnoklassniki"  data-toggle="tab"><i class="fa fa-odnoklassniki"></i> {{ text_ok }}</a></li>
									<li><a class="btn btn-white" href="#tab-vkontakte"	data-toggle="tab"><i class="fa fa-vk"></i> 			{{ text_vk }}</a></li>
									<li><a class="btn btn-white" href="#tab-telegram" 	data-toggle="tab"><i class="fa fa-send"></i> 		{{ text_tg }}</a></li>
									<li><a class="btn btn-white" href="#tab-instagram" 	data-toggle="tab"><i class="fa fa-instagram"></i> 	{{ text_ig }}</a></li>
									<li><a class="btn btn-white" href="#tab-facebook" 	data-toggle="tab"><i class="fa fa-facebook"></i> 	{{ text_fb }}</a></li>
									<li><a class="btn btn-white" href="#tab-tumblr" 	data-toggle="tab"><i class="fa fa-tumblr"></i> 		{{ text_tb }}</a></li>
									<li><a class="btn btn-white" href="#tab-twitter" 	data-toggle="tab"><i class="fa fa-twitter"></i> 	{{ text_tw }}</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active  col-sm-12" id="tab-odnoklassniki" >
										{% if (accounts['ok'] is not empty) %}
											<div class="form-group">
												<div class="js-alert-ok alert alert-danger hidden"></div>
												<label>{{ text_account }} <i class="fa fa-odnoklassniki"></i></label>
												<select data-callback="ok_group_id" class="form-control js-account" name="ok_account_id">
													<option value="0">{{ text_select_account }}</option>
													{% for account in accounts['ok'] %}
														<option value="{{ account['id'] }}"
																{% if ((project['socials']['ok']['id'] is defined and project['socials']['ok']['id'] == account['id']) or (project['ok_account_id'] is defined and project['ok_account_id'] == account['id'] )) %}
														selected{% endif %}>{{ account['account_name'] }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group">
												<label>{{ text_group_for_posting }}</label>
												<select id="ok_group_id" class="form-control" name="ok_group_id"></select>
											</div>
											<div class="form-group">
												<a class="badge bg-light js-trash" data-social="ok"><i class="fa fa-trash"></i> {{ text_not_use_in_project }}</a>
											</div>
										{% else %}
											<div class="alert alert-info">{{ text_create_account_before_create }}{{ text_ok }}</div>
											<a class="btn btn-info" href="{{ accounts_link }}">{{ text_redirect_to_accounts }}</a>
										{% endif %}
									</div>
									<div class="tab-pane col-sm-12" id="tab-vkontakte">
										{% if (accounts['vk'] is not empty) %}
											<div class="form-group">
												<div class="js-alert-vk alert alert-danger hidden"></div>
												<label>{{ text_account }} <i class="fa fa-vk"></i></label>
												<select data-callback="vk_group_id" class="form-control js-account" name="vk_account_id">
													<option value="0">{{ text_select_account }}</option>
													{% for account in accounts['vk'] %}
														<option value="{{ account['id'] }}"
																{% if ((project['socials']['vk']['id'] is defined and project['socials']['vk']['id'] == account['id']) or (project['vk_account_id'] is defined and project['vk_account_id'] == account['id'] )) %}
														selected{% endif %}>{{ account['account_name'] }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group">
												<label>{{ text_group_for_posting }}</label>
												<select id="vk_group_id" class="form-control resp-vk-groups" name="vk_group_id"></select>
											</div>
											<div class="form-group">
												<a class="badge bg-light js-trash" data-social="vk"><i class="fa fa-trash"></i> {{ text_not_use_in_project }}</a>
											</div>
										{% else %}
											<div class="alert alert-info">{{ text_create_account_before_create }}{{ text_vk }}</div>
											<a class="btn btn-info" href="{{ accounts_link }}">{{ text_redirect_to_accounts }}</a>
										{% endif %}

									</div>
									<div class="tab-pane col-sm-12" id="tab-telegram">
										{% if (accounts['tg'] is not empty) %}
											<div class="form-group">
												<div class="alert alert-info">{{ text_telegram_info }}</div>
												<label>{{ text_account }} <i class="fa fa-send"></i></label>
												<select class="form-control" name="tg_account_id">
													<option value="0">{{ text_select_account }}</option>
													{% for account in accounts['tg'] %}
														<option value="{{ account['id'] }}"
																{% if ((project['socials']['tg']['id'] is defined and project['socials']['tg']['id'] == account['id']) or (project['tg_account_id'] is defined and project['tg_account_id'] == account['id'] )) %}
														selected{% endif %}>{{ account['account_name'] }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group">
												<label>{{ text_group_for_posting }}</label>
												<input  id="tg_chat_id" class="form-control"  placeholder="@channel_name" name="tg_chat_id" value=" {{ project['telegram_chat_id'] is defined ? project['telegram_chat_id'] : '' }}">
											</div>
											<div class="form-group">
												<a class="badge bg-light js-trash" data-social="tg"><i class="fa fa-trash"></i> {{ text_not_use_in_project }}</a>
											</div>
										{% else %}
											<div class="alert alert-info">{{ text_create_account_before_create }}{{ text_tg }}<</div>
											<a class="btn btn-info" href="{{ accounts_link }}">{{ text_redirect_to_accounts }}</a>
										{% endif %}
									</div>
									<div class="tab-pane col-sm-12" id="tab-facebook">
										{% if (accounts['fb'] is not empty) %}
											<div class="form-group">
												<div class="js-alert-fb alert alert-danger hidden"></div>
												<label>{{ text_account }} <i class="fa fa-facebook"></i></label>
												<select data-callback="fb_group_id" class="form-control js-account" name="fb_account_id">
													<option value="0">{{ text_select_account }}</option>
													{% for account in accounts['fb'] %}
														<option
																{% if ((project['socials']['fb']['id'] is defined and project['socials']['fb']['id'] == account['id']) or (project['fb_account_id'] is defined and project['fb_account_id'] == account['id']) ) %}
																	selected{% endif %} value="{{ account['id'] }}"> {{ account['account_name'] }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group">
												<label>{{ text_group_for_posting }}</label>
												<select id="fb_group_id" class="form-control resp-fb-groups" name="fb_group_id"></select>
											</div>
											<div class="form-group">
												<a class="badge bg-light js-trash" data-social="fb"><i class="fa fa-trash"></i> {{ text_not_use_in_project }}</a>
											</div>
										{% else %}
											<div class="alert alert-info">{{ text_create_account_before_create }}{{ text_fb }}</div>
											<a class="btn btn-info" href="{{ accounts_link }}">{{ text_redirect_to_accounts }}</a>
										{% endif %}
									</div>
									<div class="tab-pane col-sm-12" id="tab-instagram">
										{% if (accounts['ig'] is not empty) %}
											<div class="form-group">
												<label>{{ text_account }} <i class="fa fa-instagram"></i></label>
												<select class="form-control" name="ig_account_id">
													<option value="0">{{ text_select_account }}</option>
													{% for account in accounts['ig'] %}
														<option value="{{ account['id'] }}"
																{% if ((project['socials']['ig']['id'] is defined and project['socials']['ig']['id'] == account['id']) or (project['ig_account_id'] is defined and project['ig_account_id'] == account['id']) ) %}
														selected{% endif %}>{{ account['account_name'] }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group">
												<a class="badge bg-light js-trash" data-social="ig"><i class="fa fa-trash"></i> {{ text_not_use_in_project }}</a>
											</div>
										{% else %}
											<div class="alert alert-info">{{ text_create_account_before_create }}{{ text_ig }}</div>
											<a class="btn btn-info" href="{{ accounts_link }}">{{ text_redirect_to_accounts }}</a>
										{% endif %}
									</div>
									<div class="tab-pane col-sm-12" id="tab-tumblr">
										{% if (accounts['tb'] is not empty) %}
											<div class="form-group">
												<label>{{ text_account }} <i class="fa fa-tumblr"></i></label>
												<select class="form-control" name="tb_account_id">
													<option value="0">{{ text_select_account }}</option>
													{% for account in accounts['tb'] %}
														<option value="{{ account['id'] }}"
																{% if ((project['socials']['tb']['id'] is defined and project['socials']['tb']['id'] == account['id']) or (project['tb_account_id'] is defined and project['tb_account_id'] == account['id']) ) %}
														selected{% endif %}>{{ account['account_name'] }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group">
												<a class="badge bg-light js-trash" data-social="tb"><i class="fa fa-trash"></i> {{ text_not_use_in_project }}</a>
											</div>
										{% else %}
											<div class="alert alert-info">{{ text_create_account_before_create }}{{ text_tb }}</div>
											<a class="btn btn-info" href="{{ accounts_link }}">{{ text_redirect_to_accounts }}</a>
										{% endif %}
									</div>
									<div class="tab-pane col-sm-12" id="tab-twitter">
										{% if (accounts['tw'] is not empty) %}
											<div class="form-group">
												<label>{{ text_account }} <i class="fa fa-twitter"></i></label>
												<select class="form-control" name="tw_account_id">
													<option value="0">{{ text_select_account }}</option>
													{% for account in accounts['tw'] %}
														<option value="{{ account['id'] }}"
																{% if ((project['socials']['tw']['id'] is defined and project['socials']['tw']['id'] == account['id']) or (project['tw_account_id'] is defined and project['tw_account_id'] == account['id']) ) %}
														selected{% endif %}>{{ account['account_name'] }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group">
												<a class="badge bg-light js-trash" data-social="tw"><i class="fa fa-trash"></i> {{ text_not_use_in_project }}</a>
											</div>
										{% else %}
											<div class="alert alert-info">{{ text_create_account_before_create }}{{ text_tw }}</div>
											<a class="btn btn-info" href="{{ accounts_link }}">{{ text_redirect_to_accounts }}</a>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- /content -->


<script type="text/javascript">
	$('.js-trash').on('click',(function(e) {
		let social = $(this).attr('data-social');
		switch (social) {
			case 'ok':
				$("select[name=\'ok_account_id\'] option[value=\'0\']").prop('selected', true);
				$("select[name=\'ok_group_id']").html('');
				break;
			case 'vk':
				$("select[name=\'vk_account_id\'] option[value=\'0\']").prop('selected', true);
				$("select[name=\'vk_group_id']").html('');
				break;
			case 'tg':
				$("select[name=\'tg_account_id\'] option[value=\'0\']").prop('selected', true);
				$("input[name=\'telegram_chat_id\'").val('');
				break;
			case 'ig':
				$("select[name=\'ig_account_id\'] option[value=\'0\']").prop('selected', true);
				break;
			case 'fb':
				$("select[name=\'fb_account_id\'] option[value=\'0\']").prop('selected', true);
				$('.resp-fb-groups').html('');
				break;
			case 'tb':
				$("select[name=\'tb_account_id\'] option[value=\'0\']").prop('selected', true);
				break;
			case 'tw':
				$("select[name=\'tw_account_id\'] option[value=\'0\']").prop('selected', true);
				break;
		}
	}));

	/*
	|--------------------------------------------------------------------------
	| Get Groups OK, VK, FB
	|--------------------------------------------------------------------------
	|
	*/
	function getGroups(account_id, callback, old_value) {
		if (account_id != '0') {
			$.ajax({
				url: 'https://smm-posting.ru/api/v2/smmposting/get_groups?api_token={{ api_token }}',
				type: 'get',
				data: { account_id : account_id, limit : 30},
				dataType: 'json',
				success: function(json) {
					if (json['result'] && json['error'] == "N") {
						let html = '';
						$.each(json['result'], function(index, value) {
							let selected = index == old_value ? "selected" : "";
							html += '<option ' + selected + ' value="' + index + '">' + value + ''
						});
						$("#" + callback).html(html);
					} else if (json['result'] && json['error'] == "Y") {
					}
				}
			});
		} else {
		}

	}

	$('.js-account').on('change',(function(e) {
		let account_id = $(this).val(), callback = $(this).data('callback'), old_value = $('#'+callback).val();
		getGroups(account_id,callback, old_value);
	}));
</script>

{% if (project["ok_group_id"] is defined and project['ok_account_id'] is defined) %}
	<script>
		$( document ).ready(function() {
			let account_id = '{{ project["ok_account_id"] }}', callback = "ok_group_id", old_value = '{{ project["ok_group_id"] }}';
			getGroups(account_id,callback, old_value);
		});
	</script>
{% endif %}

{% if (project["vk_group_id"] is defined and project['vk_account_id'] is defined) %}
	<script>
		$( document ).ready(function() {
			let account_id = '{{ project["vk_account_id"] }}', callback = "vk_group_id", old_value = '{{ project["vk_group_id"] }}';
			getGroups(account_id,callback, old_value);
		});
	</script>
{% endif %}

{% if (project["fb_group_id"] is defined and project['fb_account_id'] is defined) %}
	<script>
		$( document ).ready(function() {
			let account_id = '{{ project["fb_account_id"] }}', callback = "fb_group_id", old_value = '{{ project["fb_group_id"] }}';
			getGroups(account_id,callback, old_value);
		});
	</script>
{% endif %}



{{ footer }}


